/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Rokkitt:wght@300;400;500;600;700&display=swap");
html {
  font-size: 14px;
}

body {
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", serif;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

input {
  outline: 0;
}

#home-calendar .monthly-cal,
#home-calendar .monthly-reset,
#home-calendar .monthly-header-title-date {
  line-height: 17px;
  font-weight: 600;
}

.btnScrollup {
  position: fixed;
  bottom: 1rem;
  right: 9rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0.65rem 1rem 0.65rem;
  display: none;
  border: none;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  -o-transition: background 300ms ease;
  transition: background 300ms ease;
  z-index: 1;
  background: #45a3c7;
}
.btnScrollup:hover {
  color: rgb(255, 255, 255);
  background: #274564;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}
header .container {
  max-width: 1450px;
}
header .header-top {
  background-color: #AFD137;
  padding: 11px 0;
}
@media (max-width: 1450px) {
  header .header-top {
    padding: 9px 0px;
  }
}
@media (max-width: 767px) {
  header .header-top {
    padding: 3px 0;
  }
}
@media (max-width: 384px) {
  header .header-top {
    padding: 0;
  }
}
header .header-top .container {
  display: flex;
  justify-content: space-between;
}
header .header-top .container .header-top-left,
header .header-top .container .header-top-right {
  width: calc((100% - 429px) / 2);
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1450px) {
  header .header-top .container .header-top-left,
  header .header-top .container .header-top-right {
    width: calc((100% - 355px) / 2);
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1199px) {
  header .header-top .container .header-top-left,
  header .header-top .container .header-top-right {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  header .header-top .container .header-top-left,
  header .header-top .container .header-top-right {
    width: calc((100% - 286px) / 2);
  }
}
@media (max-width: 479px) {
  header .header-top .container .header-top-left,
  header .header-top .container .header-top-right {
    width: calc((100% - 234px) / 2);
  }
}
@media (max-width: 384px) {
  header .header-top .container .header-top-left,
  header .header-top .container .header-top-right {
    width: calc((100% - 190px) / 2);
  }
}
header .header-top .container .header-top-left ul,
header .header-top .container .header-top-right ul {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
@media (max-width: 1450px) {
  header .header-top .container .header-top-left ul,
  header .header-top .container .header-top-right ul {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  header .header-top .container .header-top-left ul,
  header .header-top .container .header-top-right ul {
    justify-content: space-around;
    font-size: 16px;
  }
}
header .header-top .container .header-top-left ul li a,
header .header-top .container .header-top-right ul li a {
  color: white;
}
@media (max-width: 1199px) {
  header .header-top .container .header-top-left ul li a span,
  header .header-top .container .header-top-right ul li a span {
    display: none;
  }
}
@media (max-width: 384px) {
  header .header-top .container .header-top-left ul li a,
  header .header-top .container .header-top-right ul li a {
    font-size: 13px;
  }
}
header .header-top .container .header-top-left ul li a:hover,
header .header-top .container .header-top-right ul li a:hover {
  color: #FCCB2B;
}
header .header-top .container .header-top-left ul li a i,
header .header-top .container .header-top-right ul li a i {
  margin-right: 7px;
}
header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 429px;
  top: 0;
  z-index: 1;
}
@media (max-width: 1450px) {
  header .logo {
    width: 355px;
  }
}
@media (max-width: 767px) {
  header .logo {
    width: 286px;
  }
  header .logo img {
    height: 93px;
    width: 100%;
  }
}
@media (max-width: 479px) {
  header .logo {
    width: 234px;
  }
  header .logo img {
    height: 77px;
  }
}
@media (max-width: 384px) {
  header .logo {
    width: 190px;
  }
  header .logo img {
    height: 65px;
  }
}
header nav.main-navigation {
  position: relative;
  box-shadow: 0px 13px 7px -15px rgba(0, 0, 0, 0.5);
}
header nav.main-navigation > .container {
  display: flex;
  justify-content: space-between;
}
header nav.main-navigation .container .main-nav-right,
header nav.main-navigation .container .main-nav-left {
  width: calc((100% - 429px) / 2);
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1450px) {
  header nav.main-navigation .container .main-nav-right,
  header nav.main-navigation .container .main-nav-left {
    width: calc((100% - 355px) / 2);
  }
}
@media (max-width: 767px) {
  header nav.main-navigation .container .main-nav-right,
  header nav.main-navigation .container .main-nav-left {
    width: calc((100% - 300px) / 2);
  }
}
header nav.main-navigation .container .main-nav-right > ul,
header nav.main-navigation .container .main-nav-left > ul {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  header nav.main-navigation .container .main-nav-right > ul,
  header nav.main-navigation .container .main-nav-left > ul {
    display: none;
  }
}
header nav.main-navigation .container .main-nav-right > ul li,
header nav.main-navigation .container .main-nav-left > ul li {
  flex: 0 0 50%;
}
header nav.main-navigation .container .main-nav-right > ul li a,
header nav.main-navigation .container .main-nav-left > ul li a {
  text-align: center;
  font-size: 23px;
  color: #1d1d1d;
  padding: 18px 5px;
  width: 100%;
  font-family: "Rokkitt", serif;
  font-weight: 500;
}
@media (max-width: 1450px) {
  header nav.main-navigation .container .main-nav-right > ul li a,
  header nav.main-navigation .container .main-nav-left > ul li a {
    font-size: 19px;
    padding: 12px 5px;
  }
}
header nav.main-navigation .container .main-nav-right > ul li a:hover,
header nav.main-navigation .container .main-nav-left > ul li a:hover {
  color: #fff;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu {
  padding-bottom: 20px;
  box-shadow: inset 0px 13px 7px -15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.98);
  padding-top: 35px;
  transition-duration: 0.5s;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container {
  max-width: 1245px;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container ul li,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container ul li {
  border-bottom: 1px solid #ddd;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container ul li a,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container ul li a {
  text-align: left;
  font-size: 13px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  background: transparent !important;
  padding: 8px 5px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container ul li a:after,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container ul li a:after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f105";
  transition-duration: 0.3s;
  font-size: 15px;
  transform: translateX(-5px);
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container ul li a:hover,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container ul li a:hover {
  color: #FCCB2B;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container ul li a:hover::after,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container ul li a:hover::after {
  transform: translateX(5px);
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container .mega-menu-img,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container .mega-menu-img {
  position: relative;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container .mega-menu-img a,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container .mega-menu-img a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1c2e41;
  color: #fff;
  padding: 12px;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container .mega-menu-img a:hover,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container .mega-menu-img a:hover {
  color: #FCCB2B;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container .mega-menu-img a span,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container .mega-menu-img a span {
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 20px;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container .mega-menu-img a span:last-of-type,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container .mega-menu-img a span:last-of-type {
  font-size: 20px;
  font-family: "Rokkitt", serif;
  margin-top: 2px;
}
header nav.main-navigation .container .main-nav-right > ul li .mega-menu .container .mega-menu-img a i,
header nav.main-navigation .container .main-nav-left > ul li .mega-menu .container .mega-menu-img a i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
header nav.main-navigation .container .main-nav-right > ul li:hover .mega-menu,
header nav.main-navigation .container .main-nav-left > ul li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
header nav.main-navigation .container .main-nav-left ul li:first-child a:hover {
  background-color: #26ABE2;
}
header nav.main-navigation .container .main-nav-left ul li:last-child a:hover {
  background-color: #AFD137;
}
@media (max-width: 1199px) {
  header nav.main-navigation .container .main-nav-right {
    height: 48px;
  }
  header nav.main-navigation .container .main-nav-right button {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    height: 40px;
    margin-top: 5px;
    float: right;
  }
  header nav.main-navigation .container .main-nav-right button span {
    margin-right: 5px;
  }
  header nav.main-navigation .container .main-nav-right button i.fas {
    color: #FCCB2B;
  }
}
@media (max-width: 767px) {
  header nav.main-navigation .container .main-nav-right {
    height: 40px;
    width: 100%;
  }
  header nav.main-navigation .container .main-nav-right button {
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: 0;
  }
}
@media (max-width: 479px) {
  header nav.main-navigation .container .main-nav-right {
    height: 32px;
    padding-right: 0;
  }
  header nav.main-navigation .container .main-nav-right button {
    height: 32px;
    margin-right: -5px;
  }
}
@media (max-width: 384px) {
  header nav.main-navigation .container .main-nav-right {
    height: 23px;
  }
  header nav.main-navigation .container .main-nav-right button {
    height: 23px;
    margin-right: -10px;
  }
}
header nav.main-navigation .container .main-nav-right ul li:first-child a:hover {
  background-color: #D2A22A;
}
header nav.main-navigation .container .main-nav-right ul li:last-child a:hover {
  background-color: #1c2e41;
}
header .side-navigation {
  padding-top: 60px;
  position: fixed;
  width: 400px;
  right: -100%;
  top: 0;
  background-color: #1c2e41;
  bottom: 0;
  z-index: 99999;
  transition-duration: 0.5s;
}
@media (min-width: 1200px) {
  header .side-navigation {
    display: none;
  }
}
@media (max-width: 384px) {
  header .side-navigation {
    width: 100%;
  }
}
header .side-navigation.active-side-nav {
  right: 0;
}
header .side-navigation > span {
  position: absolute;
  color: #fff;
  right: 15px;
  top: 15px;
  font-size: 40px;
  cursor: pointer;
}
header .side-navigation > ul > li > a {
  color: #fff;
  padding: 16px;
  font-size: 18px;
  padding-top: 19px;
  line-height: 15px;
}
header .side-navigation > ul > li > a:hover {
  background-color: #D2A22A;
}
header .side-navigation ul li a {
  padding: 14px;
  font-size: 17px;
  padding-top: 17px;
  line-height: 13px;
  display: flex;
  justify-content: space-between;
}
header .side-navigation ul li a.open-dropdown i {
  transform: rotate(180deg);
}
header .side-navigation ul li ul {
  display: none;
}
header .side-navigation ul li ul li a {
  background-color: #7f9e3a;
  color: #fff;
}
header .side-navigation ul li ul li a:hover {
  background-color: #637f26;
}
header .side-navigation ul li ul li ul li a {
  background-color: #e8e8e8;
  color: #111;
}
header .side-navigation ul li ul li ul li a:hover {
  background-color: #5d7673;
  color: #fff;
}

section#banner-slides {
  z-index: 9;
  margin-top: 107px;
}
@media (max-width: 1450px) {
  section#banner-slides {
    margin-top: 91px;
  }
}
@media (max-width: 767px) {
  section#banner-slides {
    margin-top: 70px;
  }
}
@media (max-width: 479px) {
  section#banner-slides {
    margin-top: 62px;
  }
}
@media (max-width: 384px) {
  section#banner-slides {
    margin-top: 51px;
  }
}
section#banner-slides.bylaws-banner .b-slide-items::after {
  max-height: 215px;
}
section#banner-slides.bylaws-banner .b-slide-items .b-slide-item .container h3 {
  font-size: 30px;
  transform: translateY(50px);
}
section#banner-slides.bylaws-banner .b-slide-items .banner-search-box {
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
section#banner-slides .b-slide-items {
  height: 400px;
  position: relative;
}
@media (max-width: 479px) {
  section#banner-slides .b-slide-items {
    height: 330px;
  }
}
section#banner-slides .b-slide-items::after {
  content: " ";
  position: absolute;
  height: 100%;
  max-height: 190px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: url(../images/banner-bottom-bg.png) no-repeat scroll center center/cover;
}
section#banner-slides .b-slide-items .b-slide-item {
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}
section#banner-slides .b-slide-items .b-slide-item:not(.slide-active) {
  display: none;
}
section#banner-slides .b-slide-items .b-slide-item.slide-active {
  animation-name: fade-in;
  animation-duration: 0.5s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section#banner-slides .b-slide-items .b-slide-item .container {
  position: relative;
  transform: translateY(-150px);
  z-index: 1;
}
section#banner-slides .b-slide-items .b-slide-item .container > * {
  color: #fff;
}
section#banner-slides .b-slide-items .b-slide-item .container h3 {
  font-size: 18px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  letter-spacing: 3px;
}
section#banner-slides .b-slide-items .b-slide-item .container h2 {
  font-size: 80px;
  line-height: 80px;
}
@media (max-width: 767px) {
  section#banner-slides .b-slide-items .b-slide-item .container h2 {
    font-size: 50px;
  }
}
@media (max-width: 479px) {
  section#banner-slides .b-slide-items .b-slide-item .container h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 384px) {
  section#banner-slides .b-slide-items .b-slide-item .container h2 {
    font-size: 35px;
  }
}
section#banner-slides .b-slide-items .b-slide-item .container > a {
  font-size: 14px;
  padding: 7px 15px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: #26ABE2;
  margin-top: 25px;
}
section#banner-slides .b-slide-items .b-slide-item .container > a:hover {
  background-color: #FCCB2B;
}
section#banner-slides .b-slide-items .b-slide-item .container > a i {
  margin-left: 5px;
}
section#banner-slides .b-slide-items .banner-search-box {
  position: absolute;
  left: 50%;
  top: calc(50% + 20px);
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 300px;
}
@media (max-width: 767px) {
  section#banner-slides .b-slide-items .banner-search-box {
    left: auto;
    right: 15px;
    transform: none;
    top: calc(50% + 10px);
  }
}
@media (max-width: 479px) {
  section#banner-slides .b-slide-items .banner-search-box {
    top: calc(50% + 35px);
    left: 12px;
  }
}
section#banner-slides .b-slide-items .banner-search-box input {
  font-size: 16px;
  padding: 7px 20px;
  width: 300px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  border: 1px solid transparent;
}
@media (max-width: 767px) {
  section#banner-slides .b-slide-items .banner-search-box input {
    height: 39px;
  }
}
section#banner-slides .b-slide-items .banner-search-box input:focus {
  border-color: #111;
}
section#banner-slides .b-slide-items .banner-search-box button {
  position: absolute;
  right: 15px;
  font-size: 20px;
  color: #FCCB2B;
  background: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

#home-main-content {
  background-image: url(../images/footer-top-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
#home-main-content .container .bottom-buttons {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
#home-main-content .container .bottom-buttons a {
  background-color: #44a1c5;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
}
#home-main-content .container .bottom-buttons a:hover {
  background-color: #D2A22A;
}
#home-main-content .container h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
#home-main-content .container h2 {
  margin-bottom: 30px;
  font-size: 32px;
}
#home-main-content .container .home-content-blogs {
  position: relative;
  padding-bottom: 100px;
  height: 100%;
}
#home-main-content .container .home-content-blogs .hc-blog {
  display: flex;
  margin-bottom: 15px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-img {
  width: 58%;
  background: url(../images/blog-img.jpg) no-repeat scroll center center/cover;
  opacity: 0.75;
  background-image: url(../images/slides/1.jpg);
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content {
  background-color: #637F26;
  width: 42%;
  border-top-right-radius: 5px;
  overflow: hidden;
  border-bottom-right-radius: 5px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content * {
  color: #fff;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content .hcb-category {
  font-size: 14px;
  background-color: #AFD137;
  padding: 10px 15px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content .hcb-category i {
  margin-right: 5px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content .hcb-date {
  font-size: 12px;
  padding: 15px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content .hcb-date i {
  margin-right: 5px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content h4 {
  padding: 15px;
  margin-top: -17px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content a:last-child {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 12px;
  margin-left: 15px;
}
#home-main-content .container .home-content-blogs .hc-blog .hcb-content a:last-child i {
  margin-left: 5px;
  font-size: 11px;
}
#home-main-content .container .home-content-blogs .hc-blog:nth-child(2) .hcb-img {
  background-image: url(../images/slides/2.jpg);
}
#home-main-content .container .home-content-blogs .hc-blog:nth-child(3) .hcb-img {
  background-image: url(../images/slides/3.jpg);
}
#home-main-content .container .main-content-right {
  position: relative;
  padding-bottom: 100px;
  height: 100%;
}
#home-main-content .container .main-content-right > a {
  color: #252525;
  width: 100%;
  background-color: #e8e8e8;
  padding: 15px 25px;
  border-radius: 8px;
}
#home-main-content .container .main-content-right > a:not(:last-child) {
  margin-bottom: 15px;
}
#home-main-content .container .main-content-right > a i {
  font-size: 30px;
  margin-right: 15px;
}
#home-main-content .container .main-content-right > a h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7px;
}
#home-main-content .container .main-content-right > a p {
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
}
#home-main-content .container .main-content-right > a:nth-child(5n+2) i {
  color: #26ABE2;
}
#home-main-content .container .main-content-right > a:nth-child(5n+3) i {
  color: #898989;
}
#home-main-content .container .main-content-right > a:nth-child(5n+4) i {
  color: #AFD137;
}
#home-main-content .container .main-content-right > a:nth-child(5n+5) i {
  color: #FCCB2B;
}
#home-main-content .container .main-content-right > a:hover {
  color: #fff;
}
#home-main-content .container .main-content-right > a:hover i {
  color: #fff;
}
#home-main-content .container .main-content-right > a:hover:nth-child(5n+1) {
  background: #252525;
}
#home-main-content .container .main-content-right > a:hover:nth-child(5n+2) {
  background: #26ABE2;
}
#home-main-content .container .main-content-right > a:hover:nth-child(5n+3) {
  background: #898989;
}
#home-main-content .container .main-content-right > a:hover:nth-child(5n+4) {
  background: #AFD137;
}
#home-main-content .container .main-content-right > a:hover:nth-child(5n+5) {
  background: #FCCB2B;
}
#home-main-content .container .main-content-right .main-calender {
  width: 68%;
}
#home-main-content .container .main-content-right .main-calender + div {
  width: calc(32% - 12px);
  margin-left: auto;
}
#home-main-content .container .main-content-right .main-calender + div .list-calendar li {
  width: 100%;
}
#home-main-content .container .main-content-right .main-calender + div .list-calendar li a {
  color: #fff;
  background-color: #44A1C5;
  display: block;
  padding: 7px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
}
#home-main-content .container .main-content-right .main-calender + div .list-calendar li a i {
  margin-right: 5px;
}
#home-main-content .container .main-content-right .main-calender + div .list-calendar li:first-child {
  margin-bottom: 5px;
}
#home-main-content .container .main-content-right .main-calender + div .list-calendar li:first-child a {
  background-color: #EF921A;
}
#home-main-content .container .main-content-right .upcoming-events-list {
  margin-top: 8px;
}
#home-main-content .container .main-content-right .upcoming-events-list a {
  margin-bottom: 8px;
  width: 100%;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#home-main-content .container .main-content-right .upcoming-events-list a div {
  width: 85%;
  display: flex;
  align-items: center;
  text-align: center;
}
#home-main-content .container .main-content-right .upcoming-events-list a div h4 {
  color: #000;
  line-height: 20px;
}
#home-main-content .container .main-content-right .upcoming-events-list a div span {
  color: #ef921a;
}
#home-main-content .container .main-content-right .upcoming-events-list a div:first-child {
  width: 15%;
  background-color: #ef921a;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: center;
  line-height: 1;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#home-main-content .container .main-content-right .upcoming-events-list a div:first-child span {
  display: block;
  color: #fff;
  font-size: 26px;
  margin-top: 3px;
}
#home-main-content .container .main-content-right .upcoming-events-list a div:last-child {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
}
#home-main-content .container .main-content-right .upcoming-events-list a div:last-child span {
  line-height: 20px;
  font-size: 12px;
}
#home-main-content .container .main-content-right .upcoming-events-list a div:last-child span i {
  font-size: 9px;
}

#bylawys-main-content {
  margin-top: 60px;
}
#bylawys-main-content .container {
  max-width: 1230px;
  position: relative;
  background-color: #fff;
}
@media (min-width: 1230px) {
  #bylawys-main-content .container {
    padding-left: 0;
    padding-right: 0;
  }
}
#bylawys-main-content .container .bmc-left {
  height: 100%;
}
#bylawys-main-content .container .bmc-left .bmc-left-dropdown-bar {
  background-color: #274564;
  padding: 15px;
  font-size: 20px;
}
#bylawys-main-content .container .bmc-left .bmc-left-dropdown-bar i {
  cursor: pointer;
}
#bylawys-main-content .container .bmc-left .bmcl-top-nav {
  margin-bottom: 12px;
}
#bylawys-main-content .container .bmc-left .bmcl-top-nav a {
  color: #252525;
  font-weight: 600;
}
#bylawys-main-content .container .bmc-left .bmcl-top-nav a:last-child, #bylawys-main-content .container .bmc-left .bmcl-top-nav a:hover {
  color: #26ABE2;
}
#bylawys-main-content .container .bmc-left .bmcl-top-nav a i {
  margin-left: 7px;
  margin-right: 7px;
}
#bylawys-main-content .container .bmc-left .bmc-left-nav {
  background-color: #e3e3e3;
  height: calc(100% - 37px);
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  #bylawys-main-content .container .bmc-left .bmc-left-nav {
    display: none;
  }
}
#bylawys-main-content .container .bmc-left .bmc-left-nav ul li a {
  font-size: 18px;
  font-weight: 700;
  color: #2d2d2d;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#bylawys-main-content .container .bmc-left .bmc-left-nav ul li a.dropdown-open i {
  transform: rotate(-180deg);
}
#bylawys-main-content .container .bmc-left .bmc-left-nav ul li ul {
  display: none;
}
#bylawys-main-content .container .bmc-left .bmc-left-nav ul li ul li a {
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  font-weight: 400;
  background-color: #f1931a;
}
#bylawys-main-content .container .bmc-left .bmc-left-nav ul li ul li a:hover {
  background-color: #898989;
}
#bylawys-main-content .container .bmc-left .bmc-left-nav > ul > li > a:hover {
  background-color: #D2A22A;
  color: #fff;
}
@media (min-width: 1200px) {
  #bylawys-main-content .container .bmc-right {
    padding-left: 25px;
  }
}
@media (max-width: 991px) {
  #bylawys-main-content .container .bmc-right {
    margin-top: 50px;
  }
}
#bylawys-main-content .container .bmc-right .bmcr-title {
  border-bottom: 1px solid #969696;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
#bylawys-main-content .container .bmc-right .bmcr-title h3 {
  font-size: 30px;
  color: #252525;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div span {
  font-weight: 700;
  margin: 0 2px;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div span:first-child {
  font-size: 15px;
  font-weight: 600;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div span.text-small {
  font-size: 11px;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div span.text-medium {
  font-size: 16px;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div span.text-large {
  font-size: 21px;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div span:hover:not(:first-child) {
  color: #45a3c7;
  cursor: pointer;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div i {
  font-size: 20px;
  margin-left: 4px;
}
#bylawys-main-content .container .bmc-right .bmcr-title > div i:hover {
  color: #45a3c7;
  cursor: pointer;
}
#bylawys-main-content .container .bmc-right .bmcr-content h4 {
  font-size: 22px;
  color: #252525;
  font-weight: 700;
  margin-bottom: 5px;
}
#bylawys-main-content .container .bmc-right .bmcr-content p {
  font-size: 16px;
}
#bylawys-main-content .container .bmc-right .bmcr-content p em {
  margin-top: 15px;
  line-height: 20px;
  display: inline-block;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion .bmcr-content-title-bar {
  margin-top: 20px;
  border-top: 1px dotted rgb(240, 240, 240);
  border-bottom: 1px dotted rgb(240, 240, 240);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  line-height: 20px;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion .bmcr-content-title-bar a {
  font-size: 16px;
  color: #45a3c5;
  font-weight: 600;
  letter-spacing: 1px;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion .bmcr-content-title-bar a:nth-child(2) {
  display: none;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion .bmcr-content-title-bar a i {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion.accordion-open .bmcr-content-title-bar a:nth-child(2) {
  display: inline-block;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion.accordion-open .bmcr-content-title-bar a i {
  display: inline-block;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion.accordion-open ul.border-bottom {
  display: none;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul {
  padding-bottom: 30px;
  margin-bottom: 70px;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul.border-bottom {
  border-bottom: 1px dotted rgb(240, 240, 240);
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul li {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  cursor: pointer;
  color: #45a3c5;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul li:hover {
  color: #FCCB2B;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul li a {
  color: #45a3c5;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul li a:hover {
  color: #FCCB2B;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul li i {
  margin-right: 4px;
}
#bylawys-main-content .container .bmc-right .bmcr-content .bmcr-content-accordion ul li ul {
  display: none;
}
#bylawys-main-content .container .bmc-right.text-small .bmcr-content .bmcr-content-accordion ul li {
  font-size: 16px;
}
#bylawys-main-content .container .bmc-right.text-small .bmcr-content p {
  font-size: 16px;
}
#bylawys-main-content .container .bmc-right.text-medium .bmcr-content .bmcr-content-accordion ul li {
  font-size: 18px;
}
#bylawys-main-content .container .bmc-right.text-medium .bmcr-content p {
  font-size: 18px;
}
#bylawys-main-content .container .bmc-right.text-large .bmcr-content .bmcr-content-accordion ul li {
  font-size: 20px;
  line-height: 28px;
}
#bylawys-main-content .container .bmc-right.text-large .bmcr-content p {
  font-size: 20px;
  line-height: 28px;
}
#bylawys-main-content .container .bmc-right.text-large .bmcr-content p em {
  line-height: 28px;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content p.info-para {
  background-color: #bee5eb;
  padding: 15px;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .filter-checkboxes {
  margin-top: 15px;
  display: flex;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .filter-checkboxes > div {
  width: 33.3333333333%;
  color: #fff;
  padding: 8px;
  background-color: #EF921A;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .filter-checkboxes > div:first-child {
  background-color: #44A1C5;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .print-content {
  margin-top: 20px;
  border-top: 1px dotted rgb(240, 240, 240);
  border-bottom: 1px dotted rgb(240, 240, 240);
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .print-content i {
  margin-left: auto;
  margin-right: 5px;
  font-size: 15px;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .print-content a {
  color: #45a3c7;
  font-size: 16px;
  font-weight: 700;
}
#bylawys-main-content.upcoming-events .bmc-right .bmcr-content .print-content a:hover {
  color: #EF921A;
}

#footer-top-boxes {
  padding-top: 430px;
  margin-top: -385px;
  padding-bottom: 20px;
  background: url(../images/footer-top-bg.png) no-repeat bottom/cover;
}
#footer-top-boxes .container {
  max-width: 1260px;
}
#footer-top-boxes .container > .row > [class*=col-] {
  margin-bottom: 25px;
}
#footer-top-boxes .container .footer-top-box {
  display: flex;
  background-color: #e8e8e8;
  border-radius: 5px;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
#footer-top-boxes .container .footer-top-box:hover * {
  color: #fff !important;
}
#footer-top-boxes .container .footer-top-box:not(.diff) {
  padding: 20px 15px 20px 30px;
}
#footer-top-boxes .container .footer-top-box * {
  color: #252525;
}
#footer-top-boxes .container .footer-top-box .icon {
  font-size: 30px;
  margin-right: 12.5px;
}
#footer-top-boxes .container .footer-top-box .content h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
#footer-top-boxes .container .footer-top-box .content p {
  line-height: 20px;
}
#footer-top-boxes .container .footer-top-box.diff .date {
  width: 15%;
  height: 100%;
  background-color: #ef921a;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer-top-boxes .container .footer-top-box.diff .date span {
  display: block;
  color: #fff;
  font-size: 12px;
  line-height: 1;
}
#footer-top-boxes .container .footer-top-box.diff .date span:last-child {
  font-size: 26px;
  font-weight: 700;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content {
  width: 85%;
  background-color: #387c96;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content * {
  color: #fff;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content h3 {
  font-weight: 600;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content > div a {
  font-size: 10px;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content > div a i {
  transition-duration: 0.5s;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content > div a:hover {
  color: #D2A22A !important;
}
#footer-top-boxes .container .footer-top-box.diff .diff-content > div a:hover i {
  color: #D2A22A !important;
}
@media (max-width: 991px) {
  #footer-top-boxes .container > .row > [class*=col-]:first-child {
    height: 75px;
  }
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(2) .footer-top-box:hover,
#footer-top-boxes .container > .row > [class*=col-]:nth-child(3) .footer-top-box:hover {
  background-color: #26ABE2;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(3) .footer-top-box .icon i {
  color: #26ABE2;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(4) .footer-top-box:hover {
  background-color: #898989;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(4) .footer-top-box .icon i {
  color: #898989;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(5) .footer-top-box:hover {
  background-color: #7f9e3a;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(5) .footer-top-box .icon i {
  color: #7f9e3a;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(6) .footer-top-box:hover {
  background-color: #f1931a;
}
#footer-top-boxes .container > .row > [class*=col-]:nth-child(6) .footer-top-box .icon i {
  color: #f1931a;
}

footer {
  background-color: #7e9c39;
}
footer * {
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 23px;
}
footer h3 {
  font-family: "Rokkitt", serif;
  font-size: 16px;
  padding-left: 15px;
}
@media (max-width: 991px) {
  footer h3 {
    padding-left: 0;
    margin-top: 25px;
  }
}
footer p.office-hours {
  line-height: 19px;
  padding-left: 15px;
  margin-top: 10px;
}
@media (max-width: 991px) {
  footer p.office-hours {
    padding-left: 0;
    margin-top: 0;
  }
}
footer .container {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  padding: 35px 0;
}
@media (max-width: 991px) {
  footer .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
footer .container > div {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
@media (max-width: 991px) {
  footer .container > div {
    border: none;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: auto !important;
  }
}
footer .container > div:first-child {
  width: 25%;
}
@media (max-width: 1199px) {
  footer .container > div:first-child {
    width: 20%;
  }
}
@media (max-width: 991px) {
  footer .container > div:first-child {
    margin-bottom: 20px;
  }
}
footer .container > div:last-child, footer .container > div:nth-child(2) {
  border-right: none;
}
footer .container > div.footer-address {
  padding-left: 30px;
}
@media (max-width: 1199px) {
  footer .container > div.footer-address {
    padding-left: 15px;
  }
}
footer .container > div.footer-address a {
  padding-left: 20px;
  position: relative;
}
footer .container > div.footer-address a:hover {
  color: #f1931a;
}
@media (max-width: 991px) {
  footer .container > div.footer-address a br {
    display: none;
  }
}
footer .container > div.footer-address a i {
  left: 0;
  top: 7px;
  position: absolute;
}
@media (max-width: 1199px) {
  footer .container > div.footer-contact-numbers {
    padding-left: 0;
  }
}
footer .container > div.footer-contact-numbers a:hover {
  color: #f1931a;
}
footer .container > div.footer-copyright {
  padding-left: 30px;
}
@media (max-width: 1199px) {
  footer .container > div.footer-copyright {
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  footer .container > div.footer-copyright {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  footer .container > div.footer-copyright a {
    margin-top: 30px;
  }
}

@media print {
  header, #banner-slides, .bmc-left, #footer-top-boxes, footer {
    display: none;
  }
  #bylawys-main-content {
    margin-top: 0;
  }
}/*# sourceMappingURL=style.css.map */